*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: #ccc;
}
.form{
    width: 40%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    /* display: grid; */
    position: relative;
    top: 50px;
    right: 400px;
}
h1{
    position: relative;
    top: -40px;
    left: 250px;
    width: 400px;
}
textarea{
    position: relative;
    left: 170px;
    bottom: 20px;
}

.input,div,input{
    text-align: left;
    /* display:block; */
    width: 300px;
    padding: 5px;
    position: relative;
    left: 170px;
    bottom: 25px;
}
.habbie input{
    display: block;
    width: 20px;
    position: relative;
    top: 20px;
}
.habbie1 input{
    width: 150px;
    position: relative;
    top: 20px;
    right: 100px;
}
